* {
  padding: 0;
  margin: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  width: 100%;
  height: calc(100vh - 40px);
}

nav {
  height: 40px;
  border-bottom: 1px solid rgb(218, 216, 216);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 0 20px;
}

#rest-add-form {
  height: calc(100vh - 40px);
  background-image: url('../images/fruits.jpg');
  background-size: 100%;
  width: 100%;
}

#rest-add-form h1 {
  font-size: 2.3em;
}

.form-container {
  border: 1px solid rgb(231, 231, 231);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  height: 80vh;
  box-shadow: 3px 3px #cecece;
  margin-left: 20px;
} 

.restForm {
  width: 95%;
  padding: 10px 50px;
  height: 70vh;
}

.indexPage {
  width: 45%;
  height: 60vh;
  border: 1px solid rgb(153, 153, 153);
  background-color: rgba(255, 255, 255, 0.8);
}

.indexPage h1 {
  font-size: 4.1em;
}

.indexPage a {
  font-size: 1.5em;
  margin-top: 10px;
}

.indexBack {
  width: 100%;
  background-image: url('../images/farmers-market.jpg');
  background-size: 100%;
  height: calc(100vh - 40px);
}