* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(21, 255, 0);
}

#map {
  width: 100%;
  height: calc(100vh - 40px);
}

nav {
  height: 40px;
  border-bottom: 1px solid rgb(216, 213, 213)
}

nav p {
  margin: 0 20px;
}

#form {
  margin: 20px;
}
