* {
  padding: 0;
  margin: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  width: 100%;
  height: calc(100vh - 40px);
}

nav {
  height: 40px;
  border-bottom: 1px solid rgb(218, 216, 216);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 0 20px;
}

#form {
  margin: 20px;
}

.restForm {
  width: 40%;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 1em;
  padding: 10px 50px;
  margin: 20px 100px;
  display: flex;
  flex-direction: column
}

.indexPage {
  width: 600px;
  height: 400px;
  border: 1px solid rgb(153, 153, 153);
  background-color: rgba(255, 255, 255, 0.8);
}

.indexPage h1 {
  font-size: 4.1em;
}

.indexPage a {
  font-size: 1.5em;
  margin-top: 10px;
}

z.indexBack {
  background-image: url('../images/farmers-market.jpg');
  background-size: 100%;
  height: calc(100vh - 40px);
}