* {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(21, 255, 0);
}

#map {
  width: 100%;
  height: calc(100vh - 40px);
}

nav {
  height: 40px;
  border-bottom: 1px solid rgb(218, 216, 216);
  background-color: rgba(218, 216, 216,0.7);
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 0 20px;
}

#form {
  margin: 20px;
}

.restForm {
  width: 40%;
  border: 1px solid red;
  border-radius: 1em;
  padding: 10px 50px;
  margin: 20px 100px;
  display: flex;
  flex-direction: column
  
}

.indexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 300px;
  width: 200px;
  border: 1px solid red;
  background-color: rgba(218, 216, 216, 0.9)
}

.indexBack {
  // background-image: url('../images/farmers-market.jpg');
  background-size: 100%;
}

body {
  background-image: url('../images/farmers-market.jpg');
  background-size: 100%;
  display: flex;
  flex-direction: column;

}