<div id="list" class="d-flex justify-content-center align-items-start">
    <div>
        <h2>That's your veganhood</h2>
        {{#each Rest}}
        <button type="submit" class="rest-name btn btn-link">
            <h4>{{this.Name}}</h4>
        </button>
        <p>{{this.Address}}</p>
        <p>type: {{this.Type}}</p>
        <hr>
        {{/each}}
    </div>

</div>
<div id="map"></div>

<!--  Axios CDN  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  Google Maps Key  -->
<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBFVo2GclpViRQsTIVr2JdLOhwL8Wg4ghU&libraries=places'></script>


<!--  Connect main.js  -->
<script type="text/javascript" src="/javascripts/main.js"></script>