<div id="list" class="d-flex justify-content-center align-items-center">
    <div id="list-rest">
        <h2>Restaurants</h2>
        {{#each Rest}}
            <h3><a href="">{{this.Name}}</a></h3>
            <p>{{this.Address}}</p>
            <p>{{this.Phone}}</p>
            <hr>
            {{else}}
            <p>no content</p>
        {{/each}}
    </div>
</div>
<div id="map">


</div>




<!--  Axios CDN  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  Google Maps Key  -->
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrXapChUVvLn7V6fDDjP35SZsgMRc44Ok">
</script>

<!--  Connect main.js  -->
<script type="text/javascript" src="/javascripts/main.js"></script> 