
<div id="map"></div>
<div id="list" class="d-flex align-items-center justify-content-center">
    <div>
        <h3>Restaurants</h3>
        {{#each Rest}}
            <p><a href="">{{this.Name}}</a></p>
            {{else}}
            <p>no content</p>
        {{/each}}
    </div>
</div>

<!--  Axios CDN  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  Google Maps Key  -->
<script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrXapChUVvLn7V6fDDjP35SZsgMRc44Ok">
</script>

<!--  Connect main.js  -->
<script type="text/javascript" src="/javascripts/main.js"></script> 