<div class="indexBack d-flex justify-content-center align-items-center">


<div class="card w-50 ">
  <div class="card-body">
    <h1 class="card-title display-2">Welcome!</h1>
    <p class="card-text text-justify h4">Are you vegetarian or vegan? Or maybe you're simply interested in finding a restaurant? This is your place! Please login to have acess. If the restaurant is not listed please recommend it to us.</p>
    <a href="/auth/facebook" class="btn btn-primary btn-light">
        <img src="/images/facebook.svg" alt="">
        Login with Facebook
    </a>
    <a href="/auth/google" class="btn btn-danger btn-light">
        <img src="/images/google.svg" alt="">
        Login with Google
    </a>
  </div>
</div>
