<form action="" method="POST" id="add-rest">

    <div>
        <label for="rest-name">Name:</label>
        <input type="string" name="rest-name" id="rest-name" placeholder="ex: My Veganhood">
    </div>

    <div>
        <label for="rest-address">Address: </label>
        <input type="string" name="rest-address" id="rest-address" placeholder="ex: Av. Paulista, 1105">
    </div>

    <div>
        <label for="rest-email">E-mail: </label>
        <input type="string" name="rest-email" id="rest-email" placeholder="ex: myveganhood@hotmail.com ">
    </div>

    <div>
      <label for="rest-tel">Tel:</label>
      <input type="string" name="rest-tel" id="rest-tel" placeholder=" ex: 55 11-12345-1234">
    </div>

    <div>
      <label for="rest-type">Type: </label>
      <select name="rest-type" id="rest-type">
      <option value="vegan">Vegan</option>
      <option value="veggie">Veggie</option>
      </select>
    </div>

</form>